<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

<!--   <logger name="chapters.configuration" level="INFO"/> -->

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
   <logger name="com.github.ruediste.remoteJUnit.codeRunner.ClassLoadingRemoteCodeRunnerClient" level="DEBUG"/>
<!--   	<logger name="com.github.ruediste.rise.nonReloadable.front.FrontServletBase" -->
<!-- 		level="DEBUG" />  -->
<!--   	<logger name="com.github.ruediste.rise.core.RequestMapperBase" -->
<!-- 		level="DEBUG" />  -->
<!--   	<logger name="com.github.ruediste.rise.core.PathInfoIndexBase" -->
<!-- 		level="DEBUG" />  -->
<!--   	<logger name="com.github.ruediste.rise.nonReloadable.front.reload.ClassPathWalker" -->
<!-- 		level="DEBUG" />  -->
<!--   	<logger name="com.github.ruediste.rise.nonReloadable.front.reload.ClassHierarchyIndex" -->
<!-- 		level="TRACE" />  -->
<!--   	<logger name="com.github.ruediste.rise.nonReloadable.front.reload.ClassChangeNotifier" -->
<!-- 		level="TRACE" />  -->
<!--   	<logger name="com.github.ruediste.rise.nonReloadable.front.reload.ClassPathScanningStarter" -->
<!-- 		level="TRACE" />  -->
<!--   	<logger name="com.github.ruediste.rise.core.security" -->
<!-- 		level="TRACE" />  -->
<!-- 		  <logger name="com.github.ruediste.rise.core.RequestMapperBase" level="TRACE"/> -->
</configuration>
