.rise-ribbon {
/* 	overflow: hidden; */
/* 	white-space: nowrap; */
	width: 500px;

	/* top left corner */
	position: absolute;
	left: -220px;
	top: 20px;
	/* 45 deg ccw rotation */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* shadow */
	-webkit-box-shadow: 0 0 10px #888;
	-moz-box-shadow: 0 0 10px #888;
	box-shadow: 0 0 10px #888;
	z-index: 1500;
	text-align: center;
}

.rise-ribbon.rise-ribbon-fixed {
	position: fixed;
}

.rise-ribbon a {
	/* border: 1px solid #faa; */
	display: block;
	font: bold 10px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 1px 210px;
	padding: 5px 0px;
	text-align: center;
	text-decoration: none;
	/* shadow */
	text-shadow: 0 0 5px #444;
}

#page-rise-ribbon {
	min-height: 100%;
}
#page-rise-ribbon body {
	min-height: 100%;
}

#page-rise-ribbon .btn span.glyphicon {
	display: block;
}

.nav.nav-stacked .nav-stacked {
	margin-left: 20px;
}

.rise-cdisplay-none {
  display: none;
}