<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.github.ruediste.rise.nonReloadable.front.reload.ResourceChangeNotifier" 
		level="DEBUG"/>
<!-- 	<logger name="com.github.ruediste.rise.nonReloadable.front.reload.ReloadableClassesIndex"  -->
<!-- 		level="DEBUG"/> -->
<!-- 	<logger name="com.github.ruediste.rise.nonReloadable.front.reload.ReloadableClassLoader"  -->
<!-- 		level="DEBUG"/> -->
<!-- 	<logger name="bitronix.tm.BitronixTransactionManager"  -->
<!-- 		level="DEBUG"/> -->
<!-- 	<logger name="com.github.ruediste.rise.nonReloadable.front.FrontServletBase"  -->
<!-- 		level="DEBUG"/> -->
<!-- 	 <logger name="com.github.ruediste.rise.core.web.assetPipeline.AssetRequestMapper"  -->
<!-- 		level="DEBUG"/>  -->
<!-- 	<logger name="com.github.ruediste.rise.core.PathInfoIndexBase" -->
<!-- 		level="DEBUG" /> -->
<!-- 	<logger name="com.github.ruediste.rise.core.RequestMapperBase" -->
<!-- 		level="DEBUG" /> -->
<!-- 	<logger name="com.github.ruediste.rise.core.PathInfoIndexBase" -->
<!-- 		level="DEBUG" /> -->
	<logger name="com.github.ruediste.rise.core.security.web.LoginManager"
		level="DEBUG" />
	<logger name="com.github.ruediste.rise.core.security.web.WebRequestAuthenticator"
		level="DEBUG" />

</configuration>
